*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: "Inter", sans-serif;
	background-color: rgba(35, 14, 61, 1);
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
.flex-box {
	display: flex;
}

.grid-box {
	display: grid;
}

.btn {
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: max-content;
	gap: 4;
	padding: 12px 16px;
	border-radius: 10000px;
}

.gradient {
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
}

.nav-section {
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px;
}

.nav-logo {
	width: 137px;
}

.hamburger {
	width: 24px;
}
.nav-section {
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.nav-cta {
	color: rgba(255, 255, 255, 1);
	font-weight: 800;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
	display: none;
	cursor: pointer;
}

.nav-block {
	display: none;
	padding: 10px;
	position: absolute;
	width: 100%;
	height: 200px;
	top: 60px;
	left: 0;
	border-radius: 20px;
}

.nav-item {
	color: white;
	background: rgba(255, 255, 255, 0.11);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	border: 1px solid rgba(255, 255, 255, 0.48);
	padding: 16px 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.nav-item li {
	color: rgba(255, 255, 255, 1);
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
	position: relative;
	cursor: pointer;
}

.nav-item li a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
	transition: width 0.3s ease-in-out;
}

.nav-item li:hover a::after {
	width: 100%;
	cursor: pointer;
}

#toggle:checked ~ .nav-block {
	display: block;
}

@media (min-width: 320px) {
	.container {
		max-width: 100%;
	}
	body {
		background-color: black;
	}
}
@media (min-width: 480px) {
	.container {
		max-width: 100%;
	}
	body {
		background-color: rgb(255, 0, 0);
	}
}

@media (min-width: 600px) {
	.container {
		max-width: 100%;
	}
	body {
		background-color: rgb(81, 255, 0);
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 100%;
	}
	body {
		background-color: rgb(60, 0, 255);
	}

	.hamburger {
		display: none;
	}

	.nav-cta {
		display: flex;
	}

	.nav-block {
		display: flex;
	}

	.nav-section {
		padding: 20px 0;
	}

	.nav-block {
		padding: 0;
		position: initial;
		width: auto;
		height: 0px;
		top: initial;
		left: initial;
		border-radius: initial;
	}

	.nav-item {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background: rgba(255, 255, 255, 0.11);
		border-radius: initial;
		box-shadow: initial;
		backdrop-filter: initial;
		border: initial;
		padding: 0;
		display: flex;
		flex-direction: row;
		gap: 12px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 100%;
		padding: 0 100px;
	}
	body {
		background-color: rgb(255, 0, 221);
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 100%;
		padding: 0 200px;
	}
	body {
		background-color: rgb(255, 238, 0);
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 100%;
		padding: 0 200px;
	}
	body {
		background-color: rgb(0, 234, 255);
	}
}
