*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: "Inter", sans-serif;
	background-color: rgba(35, 14, 61, 1);
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
.flex-box {
	display: flex;
}

.grid-box {
	display: grid;
}

.btn {
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: max-content;
	gap: 4px;
	padding: 12px 16px;
	border-radius: 10000px;
	transition: background 2s ease-in-out;
}

.btn:hover {
	background: linear-gradient(
		47.64deg,
		rgba(145, 0, 248, 1),
		rgba(251, 9, 180, 1),
		rgba(247, 233, 63, 1)
	);
	cursor: pointer;
}

.gradient {
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
}

.nav-section {
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px;
	box-sizing: border-box;
}

.nav-logo {
	width: 137px;
}

.hamburger {
	width: 24px;
}
.nav-section {
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.bottom-broder {
	border-bottom: 1px solid rgba(65, 37, 103, 1);
	background-color: rgba(26, 11, 46, 1);
}

.nav-cta {
	color: rgba(255, 255, 255, 1);
	font-weight: 800;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
	display: none;
	cursor: pointer;
}

.nav-block {
	display: none;
	padding: 10px;
	position: absolute;
	width: 100%;
	height: 200px;
	top: 60px;
	left: 0;
	border-radius: 20px;
	z-index: 10;
}

.nav-item {
	color: white;
	background: rgba(255, 255, 255, 0.11);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	border: 1px solid rgba(255, 255, 255, 0.48);
	padding: 16px 20px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.nav-item li {
	color: rgba(255, 255, 255, 1);
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
	position: relative;
	cursor: pointer;
}

.nav-item li a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background: linear-gradient(
		47.64deg,
		rgba(247, 233, 63, 1),
		rgba(251, 9, 180, 1),
		rgba(145, 0, 248, 1)
	);
	transition: width 0.3s ease-in-out;
}

.nav-item li:hover a::after {
	width: 100%;
	cursor: pointer;
}

#toggle:checked ~ .nav-block {
	display: block;
}

.hero-main {
	background-image: url("./assets/images/ImagemobileHero.png");
	height: auto;
	width: 100%;
	background-size: auto;
	background-repeat: no-repeat;
	padding-bottom: 0px;
}

.iconic {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid rgba(42, 24, 108, 1);
	background: var(
		--Linear,
		linear-gradient(
			47.64deg,
			rgba(247, 233, 63, 1),
			rgba(251, 9, 180, 1),
			rgba(145, 0, 248, 1)
		)
	);
	z-index: 1;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bigicon {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.iconic img {
	width: 50px;
}

.iconic span {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10;
	color: black;
	padding: 8px 16px 8px 16px;
	border-radius: 1000px;
	box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
	background-color: rgba(0, 255, 136, 1);
}

.hro-gep {
	gap: 5px;
	font-size: 16px;
	color: white;
}

.hero-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 24px;
	padding-bottom: 30px;
}

.hero-about h1 {
	color: rgba(255, 255, 255, 1);

	font-size: 40px;
	font-weight: bolder;
	line-height: 48px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-top: 24px;
}

.hero-about p {
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: center;
	opacity: 0.8;
	margin-top: 10px;
}

.tran-btn {
	background: transparent !important;
	color: rgba(0, 255, 136, 1);
	border: 1px solid rgba(0, 255, 136, 1);
	font-style: Semi Bold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}

.future {
	background: rgba(26, 11, 46, 1);
	text-align: center;
}

.future-block-1 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.345);
	padding: 40px 0;
	flex-direction: column;
	gap: 16px;
}

.future-block-1 h2 {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}

.future-block-1 p,
.future-block-1 span {
	color: rgba(255, 255, 255, 1);
	font-size: 1rem;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
	opacity: 0.8;
}

.future-block-2 {
	width: 100%;
	max-width: 100%;
	padding: 40px 0;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}

.furure-kike {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.furure-kike span {
	color: rgba(0, 255, 136, 1);

	font-size: 40px;
	font-weight: 900;
	line-height: 48px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}
.avarage-future {
	color: rgba(255, 255, 255, 0.822);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
}

.tech-tit {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
}
.fure-flex {
	flex-direction: column;
}

.vison {
	width: 100%;
	padding: 40px 0;
}

.vison h2 {
	text-align: center;
	margin-bottom: 24px;
}

.vison-card {
	grid-template-columns: repeat(1, 1fr);
	gap: 24px;
}

.grid-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	padding: 24px;
	border-radius: 24px;
	background: rgba(53, 17, 101, 0.4);
}

.grid-card img {
	width: 50px;
	object-fit: contain;
}

.grid-card h3 {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
.grid-card p {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.card-box-color {
	background: rgba(26, 11, 46, 1);
}

.card-box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 20px;
}

.card-init {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(37, 13, 68, 1);
	overflow: hidden;
	border-radius: 24px 24px 24px 24px;
}

.card-init-detelish {
	border-radius: 0px 0px 24px 24px;
	background-color: rgba(37, 13, 68, 1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
	padding: 16px;
	border-radius: 0px 0px 24px 24px;
	background: rgba(37, 13, 68, 1);
}
.card-init-detelish h4 {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.card-init-detelish p {
	color: rgba(255, 255, 255, 0.454);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.card-init-detelish span {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: rgba(0, 255, 136, 1);
	font-style: Bold;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
}

.card-init-detelish span img {
	width: 20px;
	height: 20px;
}

.main-card-box {
	padding: 40px 0px;
}

.main-card-box h3 {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 24px;
}

.card-init .card-video {
	width: 100%;
	height: auto;
}

.host-perent {
	text-align: center;
	padding-bottom: 40px;
}

.orgin-profile-dete {
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	background-color: rgba(53, 17, 101, 0.4);
	padding: 20px;
	gap: 16px;
}

.profile-part {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-part img {
	width: 150px;
	height: 150px;
}

.host-title {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 24px;
}
.profile-detelis-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-detelis-part h2 {
	color: rgba(255, 255, 255, 1);
	font-style: Bold;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.profile-detelis-part p {
	color: rgba(255, 255, 255, 0.554);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin-top: 20px;
}

.social-icon a {
	border: 1px solid rgba(128, 128, 128, 0.645);
	padding: 8px;
	border-radius: 100%;
}

.social-icon a img {
	width: 20px;
	height: 20px;
}

footer {
	background-image: url("./assets/images/footer-bg.png");
	padding: 40px 0;
	background-position: center;
	height: 248px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
}

.foot-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.foot-social-main {
	display: flex;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	margin-top: 20px;
}

.foot-social {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.foot-social span {
	color: rgba(255, 255, 255, 0.52);
	font-style: Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: center;
}

.foot-social img {
	width: 20px;
}

.copyright {
	margin-top: 20px;
	color: rgba(250, 250, 250, 0.482);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

.foot-logo {
	width: 219px;
}

@media (min-width: 320px) {
	.container {
		max-width: 100%;
	}

	.hro-gep {
		font-size: 13px;
		font-weight: 600;
	}
}

@media (min-width: 600px) {
	.container {
		max-width: 100%;
	}
	.nav-logo {
		width: 170px;
	}

	.hero-main {
		width: 100%;
		background-image: url("./assets/images/ImagemobileHero.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.iconic span {
		top: 10px;
		right: 10px;
	}

	.hro-gep {
		font-size: 16px;
		font-weight: bold;
	}

	.iconic {
		width: 300px;
		height: 300px;
		margin-top: 101px;
	}

	.future-block-2 {
		grid-template-columns: repeat(4, 1fr);
	}
	.fure-flex {
		padding-top: 50px;
	}

	.future-block-1 h2 {
		font-size: 48px;
	}

	.card-box {
		flex-direction: row;
		width: 100%;
	}

	.card-init {
		width: 33.33%;
		flex-basis: 33.33%;
	}

	.main-card-box {
		padding: 120px 0;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 100%;
	}

	.hamburger {
		display: none;
	}

	.nav-cta {
		display: flex;
	}

	.nav-block {
		display: flex;
	}

	.nav-section {
		padding: 20px 0;
	}

	.nav-block {
		padding: 0;
		position: initial;
		width: auto;
		height: 0px;
		top: initial;
		left: initial;
		border-radius: initial;
	}

	.nav-item {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background: initial;
		border-radius: initial;
		box-shadow: initial;
		backdrop-filter: initial;
		border: initial;
		padding: 0;
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.nav-logo {
		width: 219px;
	}

	.hero-main {
		background-image: url("./assets/images/hero-bg.png");
		width: 100% !important;
		max-width: 100%;
		background-size: cover;
		background-position: auto;
		background-repeat: no-repeat;
	}

	.iconic {
		width: 360px;
		height: 360px;
		margin-top: 101px;
	}

	.iconic span {
		top: 20px;
		right: 20px;
	}

	.hero-about h1 {
		font-size: 3.5rem;
		margin-bottom: 20px;
		margin-top: 30px;
	}

	.card-box {
		flex-direction: row;
		width: 100%;
	}

	.card-init {
		width: 33.33%;
		flex-basis: 33.33%;
	}

	.main-card-box {
		padding: 80px 0;
	}

	.main-card-box h3 {
		font-style: Bold;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0%;
		text-align: center;
		text-transform: capitalize;
	}

	.orgin-profile-dete {
		flex-direction: row;
		padding: 40px;
	}

	.profile-part {
		width: 40%;
	}

	.profile-part img {
		width: 200px;
		height: 200px;
	}

	.profile-detelis-part h2 {
		text-align: left;
	}
	.profile-detelis-part p {
		text-align: left;
	}

	.social-icon {
		justify-content: left;
	}

	.host-perent {
		padding-bottom: 120px;
	}
	.main-card-box h3 {
		font-size: 32;
	}

	footer {
		background-image: url("./assets/images/footer-bg.png");
		padding: 40px 0;
		background-position: center;
		height: 412px;
		background-size: cover;
	}

	.foot-box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.foot-social-main {
		display: flex;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, max-content);
		justify-content: center;
		margin-top: 20px;
		gap: 60px;
		cursor: pointer;
	}

	.foot-social {
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.foot-social span {
		color: rgba(255, 255, 255, 0.52);
		font-style: Medium;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: 0%;
		text-align: center;
	}

	.foot-social img {
		width: 20px;
	}

	.copyright {
		margin-top: 20px;
		color: rgba(250, 250, 250, 0.482);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0%;
		text-align: center;
		margin-top: 50px;
	}

	.foot-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 80px;
	}

	.foot-logo img {
		width: 410px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 100%;
		padding: 0 100px;
	}

	.vison {
		padding: 120px 0;
	}

	.vison h2 {
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
	}

	.grid-card:nth-child(1) {
		grid-area: one;
	}
	.grid-card:nth-child(2) {
		grid-area: two;
	}
	.grid-card:nth-child(3) {
		grid-area: three;
	}
	.grid-card:nth-child(4) {
		grid-area: four;
	}
	.grid-card:nth-child(5) {
		grid-area: five;
	}

	.vison-card {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"one two two"
			"one three three"
			"four four five";

		gap: 24px;
	}
	.future-block-1 h2 {
		font-family: 32px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
		max-width: 100%;
		padding: 0 0;
	}
	.future-block-1 h2 {
		font-family: 32px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1200px;
		max-width: 100%;
		padding: 0 0;
	}
	.iconic {
		width: 400px;
		height: 400px;
		margin-top: 85px;
	}

	.hero-about h1 {
		font-size: 60px;
	}
	.main-card-box h3 {
		font-size: 32px;
	}
	.future-block-1 h2 {
		margin-bottom: 20px;
	}
}
